.about-me {
  padding: 0 20px;
  margin-top: 40px;
}

.about-me__wrap {
  display: flex;
  align-items: center;
}

.about-me__info-wrap {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  & p {
    margin: 0;
  }
}
