.header {
  padding: 20px;
}

.header__top-wrap {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.header__toggle {
  .hide-text();
  width: 30px;
  height: 30px;

  background-image: url("../img/menu-open.svg");
  background-repeat: no-repeat;
  background-size: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &--show {
    background-image: url("../img/menu-close.svg");
  }

  &:hover,
  &:focus {
    opacity: 0.6;
    outline: none;
  }

  &:active {
    opacity: 0.3;
    outline: none;
  }
}
