.markups-list {
  .list-reset();
  display: flex;
  flex-direction: column;
  align-items: center;
}

.markups-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  max-width: 270px;

  & .markups-list__link:last-child {
    border-left: 1px solid @white;
  }
}

.markups-list__links-wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.markups-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 10px 15px;

  font-size: 14px;
  color: @white;
  text-align: center;
  text-transform: uppercase;

  background-color: @blue;

  &:hover,
  &:focus {
    opacity: 0.6;
    outline: none;
  }

  &:active {
    opacity: 0.3;
    outline: none;
  }
}

.markups-list__image {
  display: block;
}

.markups-list__description-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.markups-list__description-button {
  display: block;
  width: 100%;

  padding: 10px 15px;

  font-size: 14px;
  color: @white;
  text-align: center;
  text-transform: uppercase;

  background-color: @blue;
  border: none;
  border-top: 1px solid @white;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.6;
    outline: none;
  }

  &:active {
    opacity: 0.3;
    outline: none;
  }
}

.markups-list__description {
  display: block;

  &--hidden {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .markups-list {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }

  .markups-list__item {
    margin-bottom: 30px;
    margin-right: 30px;
    max-width: 250px;
  }
}

@media (min-width: @desktop-width) {
  .markups-list {
    justify-content: flex-start;
  }

  .markups-list__item {
    margin-right: 0;
    max-width: 260px;

    &:not(:nth-child(4n)) {
      margin-right: 25px;
    }
  }
}
