.portfolio {
  margin-top: 40px;
  padding: 0 20px;
}

@media (min-width: @tablet-width) {
  .portfolio {
    margin-top: 40px;
    padding: 0 30px;
  }
}

@media (min-width: @desktop-width) {
  .portfolio {
    margin: 40px auto 0 auto;
    padding: 0 40px;
    width: 1200px;
  }
}
