.what-i-use {
  background: linear-gradient(to right, @green, @blue);
}

.what-i-use__wrap {
  padding: 80px 20px 50px 20px;
}

@media (min-width: @tablet-width) {
  .what-i-use__wrap {
    padding: 80px 30px 50px 30px;
  }
}

@media (min-width: @desktop-width) {
  .what-i-use__wrap {
    margin: 75px auto 0 auto;
    padding: 80px 40px 50px 40px;
    width: 1200px;
  }
}
